.section {
  padding: 0 16px;
  background-color: white;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}
.gallery {
  order: 3;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.item {
  display: grid;
  justify-items: center;
  border: 1px solid var(--green-light);
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 var(--green-medium);
  padding: 10px;
  background-color: var(--green-very-light);
  width: 100%;
  transition: all 250ms linear;
}

@media screen and (min-width: 480px) {
  .text {
    font-size: 32px;
  }
  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--green-light);
    border-radius: 12px;
    padding: 10px;
    background-color: var(--green-very-light);
  }
  .item:nth-child(2n + 1) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    direction: rtl;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 50px;
    padding-bottom: 32px;
  }
  .text {
    font-size: 36px;
  }
  .item {
    grid-template-columns: 1fr 2fr;
  }
  .item:nth-child(2n + 1) {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 42px;
  }
  .text {
    font-size: 44px;
    margin-bottom: 36px;
  }
}
