.quote {
  font-family: var(--ff-ernestandemily);
  color: var(--green-light);
  font-weight: 500;
  font-size: 32px;
  line-height: 0.8;
  margin-bottom: 16px;
  text-align: center;
}
.quote_cyrillic {
  font-family: var(--ff-cyrillic);
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .quote {
    font-size: 44px;
  }
  .quote_cyrillic {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 52px;
  }
  .quote_cyrillic {
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .quote {
    font-size: 60px;
  }
  .quote_cyrillic {
    font-size: 52px;
  }
}
