.item_title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
}
.item_title:hover {
  text-decoration: underline;
  color: var(--border-color-light);
}
.item_description {
  display: none;
}
.item_img {
  box-shadow: 0 2px 2px 0 var(--green-medium);
  margin-top: 16px;
  border: none;
  transition: all 250ms linear;
}
.item_img:hover,
.item_img:focus {
  transform: scale(1.1);
}
@media screen and (min-width: 480px) {
  .item_description {
    display: block;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  .item_description {
    display: block;
    font-size: 18px;
  }
}
