.section {
  padding: 0 16px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.2),
      rgba(46, 47, 66, 0.2)
    ),
    url("../../img/ernest-ojeh-USAZ_8nIHDI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 98px);
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title {
  color: white;
  font-size: 36px;
  width: 80%;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    height: calc(100vh - 142px);
  }
  /* .hero-title::before {
    content: "Oksana Bahkaieva  *";
    font-family: var(--ff-ernestandemily);
    font-size: 88px;
    text-transform: capitalize;
    display: block;
  } */
  .title {
    font-size: 42px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 50px;
    gap: 80px;
    height: calc(100vh - 187px);
  }
  /* .title::before {
    display: block;
    font-size: 102px;
  } */
  .title {
    font-size: 52px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
