.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.content {
  position: relative;
  top: 108px;
  right: 0;
  background-color: var(--border-color-light);
  color: var(--green-dark);
  border-top: 20px solid var(--green-light);
  border-bottom: 20px solid var(--green-light);
  padding: 32px;
  width: 40%;
  z-index: 10;
}
.modal.open {
  display: flex;
}
.close_button {
  position: absolute;
  top: -18px;
  right: 2px;
  background: transparent;
  border: none;
  padding: 0;
}

.close_icon {
  stroke: var(--border-color-light);
}
.close_icon:hover,
.close_icon:focus {
  stroke: var(--plyr-color-main);
}
@media screen and (min-width: 480px) {
  .nav_link {
    font-size: 20px;
  }
}
