.languageSwitcher {
  display: flex;
  margin: 0 auto;
  gap: 16px;
}
.text {
  font-size: 10px;
  align-items: center;
  display: flex;
  gap: 4px;
}

.span {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--border-color-light);
  transition: color 0.3s ease;
  padding: 0;
  justify-content: center;
}

.span:hover {
  color: var(--plyr-color-main);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .text {
    font-size: 16px;
    align-content: center;
  }
}
