.header_top_container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--green-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--border-color-light);
  height: 46px;
  padding-left: 16px;
  padding-right: 16px;
}
.phone {
  display: none;
}
.earth {
  width: 14px;
  fill: var(--border-color-light);
}

@media screen and (min-width: 768px) {
  .top {
    padding: 0 32px;
  }
  .earth {
    width: 16px;
    fill: var(--border-color-light);
  }
}

@media screen and (min-width: 1024px) {
  .header_top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .earth {
    width: 18px;
    fill: var(--border-color-light);
  }
  .phone {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: var(--plyr-color-main);
    font-style: normal;
  }
  .phone:hover,
  .phone:focus {
    text-decoration: underline;
  }
}
