.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: var(--border-color-light);
  border-bottom: 1px solid var(--green-light);
  background-color: transparent;
  height: 52px;
  background-color: var(--green-medium);
}
.logo {
  font-family: var(--ff-ernestandemily);
  font-weight: 500;
  font-size: 32px;
  color: var(--plyr-color-main);
}
.logo:hover {
  color: var(--plyr-color-main);
}

.tel {
  display: none;
}
.socials_link {
  display: none;
}
.menu_open_button {
  width: 36px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_open_icon {
  stroke: var(--border-color-light);
  transition: all 250ms;
}
.menu_open_icon:hover,
.menu_open_icon:focus {
  stroke: var(--plyr-color-main);
}
@media screen and (min-width: 768px) {
  .bottom {
    padding: 24px;
  }
  .right_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .logo {
    font-size: 42px;
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0;
  }
  .socials_link {
    display: block;
    fill: var(--border-color-light);
    transition: all 250ms;
    background: transparent;
  }
  .socials_link:hover,
  .socials_link:focus {
    fill: var(--plyr-color-main);
  }
}

@media screen and (min-width: 1024px) {
  .bottom {
    height: auto;
    padding: 32px;
  }

  .logo {
    font-size: 62px;
  }

  .menu_open_button {
    display: none;
  }
}
