.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 36px;
}
a:hover,
a:focus {
  color: var(--plyr-color-main);
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  text-align: center;
  line-height: center;
}
.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-dark);
  color: var(--border-color-light);
}
.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--plyr-color-main);
  color: var(--green-dark);
}
.phone {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
}
.phone:hover,
.phone:focus {
  text-decoration: underline;
  color: white;
}
.email {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
}
.item2 .email:hover,
.item2 .email:focus {
  text-decoration: underline;
  color: var(--green-dark);
}
.phone_icon {
  fill: var(--plyr-color-main);
}
.mail_icon {
  fill: var(--green-dark);
}
@media screen and (min-width: 480px) {
  .wrapper {
    height: 44px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    height: 52px;
  }
}
