.benefits-section {
  background-color: var(--green-medium);
}
.benefits-container {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--border-color-light);
  font-weight: 200;
}
.benefits-quote {
  font-family: var(--ff-ernestandemily);
  color: var(--green-light);
  font-weight: 500;
  font-size: 32px;
  line-height: 0.8;
  margin-bottom: 16px;
  text-align: center;
}
.benefits-title {
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 1;
  color: white;
  text-align: center;
  font-weight: 400;
}
.benefits-text {
  text-align: center;
  margin-bottom: 16px;
}
.benefits-text-extra {
  display: none;
}
.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  margin-bottom: 16px;
}
.benefits-item {
  text-align: center;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .benefits-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .benefits-quote {
    font-size: 44px;
  }
  .benefits-title {
    margin-bottom: 32px;
    font-size: 44px;
  }
  .benefits-text {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -0.01em;
  }
  .benefits-text-extra {
    display: block;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    letter-spacing: -0.01em;
  }
  .benefits-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin-bottom: 16px;
  }
  .benefits-item {
    text-align: center;
    padding-top: 10px;
  }
}
