.section {
  padding: 0 16px;
  background-color: var(--green-medium);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--border-color-light);
  font-weight: 200;
}

.text {
  text-align: center;
  margin-bottom: 16px;
}
.text-extra {
  display: none;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  margin-bottom: 16px;
}
.item {
  text-align: center;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -0.01em;
  }
  .text-extra {
    display: block;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    letter-spacing: -0.01em;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin-bottom: 16px;
  }
  .item {
    text-align: center;
    padding-top: 10px;
  }
}
